/* add your styles here */
.App{
    text-align: center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  
.image-grid img {
    width: calc(50% - 10px); 
    margin-bottom: 10px; 
  }